
/* Your CSS Code here. */
table{
	border:1px solid;
	 border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  padding: 6px 13px;
    border: 1px solid #d0d7de;
}

tr:nth-child(even) {
  background-color: #f6f8fa;
}
}